/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

 	

.root {
     -fx-background-image: url("background.jpg");
}


#regbg {
     -fx-background-image: url("sky.jpeg");
}

#registerButton {
    
    -fx-font: bold  15pt "Calibri";
   -fx-fill: #fbf9f4;
   -fx-effect: innershadow( three-pass-box , rgba(251, 249, 244, 1) , 6, 0.0 , 0 , 2 );     
}

#searchButton {
     
    -fx-font: bold  15pt "Calibri";
   -fx-fill: #fbf9f4;
   -fx-effect: innershadow( three-pass-box , rgba(251, 249, 244, 1) , 6, 0.0 , 0 , 2 );    
}

#registerPackageButton{
	 -fx-font: bold  15pt "Calibri";
   -fx-fill: #fbf9f4;
   -fx-effect: innershadow( three-pass-box , rgba(251, 249, 244, 1) , 6, 0.0 , 0 , 2 );    
}
#searchPackageButton{
	 -fx-font: bold  15pt "Calibri";
   -fx-fill: #fbf9f4;
   -fx-effect: innershadow( three-pass-box , rgba(251, 249, 244, 1) , 6, 0.0 , 0 , 2 );    
}

#searchButton:hover {
	-fx-background-image: url("hover.jpg");
}
#registerButton:hover {
	-fx-background-image: url("hover.jpg");
}
#registerPackageButton:hover {
	-fx-background-image: url("hover.jpg");
}
#searchPackageButton:hover {
	-fx-background-image: url("hover.jpg");
}


#customLabel, #packageLabelArea {
 
   -fx-font-size: 15px;
   -fx-font-family: "Calibri";
   -fx-fill: #ff0000;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );

}

/* 
#customLabelSeachPage ,#phoneSearch ,#tripSearch ,#monthSearch{
 
    -fx-font-size: 12px;
   -fx-font-family: "Calibri";
   -fx-fill: #818181;
}

#twisters {
 
    -fx-font-size: 12px;
   -fx-font-family: "Calibri";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );

}
*/



.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.myDialog{
    -fx-background-image: url("hover.jpg");
}
.myDialog > *.button-bar > *.container{
    -fx-background-image: url("hover.jpg");
}
.myDialog > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.myDialog:header *.header-panel{
    -fx-background-image: url("hover.jpg");
}
.myDialog:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: calibri ;
    -fx-fill: #292929;
}


 .table-column {
  -fx-alignment: CENTER;
}